<header class="main-header">
  <div>
    <nav>
      <a routerLink="/">Início</a>
    </nav>
  </div>
  <!-- @if (isAuthenticated()) {
  <div>
    <input type="text" i18n-placeholder placeholder="Buscar tickets..." [(ngModel)]="searchTerm" (keydown)="onSearchKeydown($event)" class="search-input" />
  </div>
  <div>
    <select [(ngModel)]="selectStatus" (ngModelChange)="onChange($event)">
      @for(status of statuses; track status.name) {
        <option [ngValue]="status">{{status.name | normalize }}</option>
      }
    </select>
  </div>
  <div>
    <button class="btn" matButton (click)="openCreateTicketDialog()">
      <mat-icon fontIcon="assignment"></mat-icon><span i18n>Novo</span>
    </button>
  </div>
}-->
  <div class="grow-space"></div>
  @if (isAuthenticated()) {
  <!--div class="user-menu">
    <app-notification></app-notification>
  </div-->
  <div class="user-menu">
    <button matButton [matMenuTriggerFor]="menu">
      <mat-icon fontIcon="menu"></mat-icon><span>Menu</span>
    </button>
    <mat-menu #menu="matMenu" class="menu-panel">
      <button mat-menu-item [routerLink]="'/account/settings'">
        <mat-icon fontIcon="person"></mat-icon><span>Conta</span>
      </button>
      <button mat-menu-item *role="'admin'" [routerLink]="'/users'">
        <mat-icon fontIcon="group"></mat-icon><span>Usuários</span>
      </button>
      <div class="divider"  *role="'project-manager'"></div>
      <button mat-menu-item *role="'project-manager'" [routerLink]="'/workflows'">
        <mat-icon fontIcon="handyman"></mat-icon><span>Processos</span>
      </button>
      <button mat-menu-item *role="'project-manager'" [routerLink]="'/projects'">
        <mat-icon fontIcon="work"></mat-icon><span>Projetos</span>
      </button>
      <div class="divider"></div>
      <button mat-menu-item (click)="logout()">
        <mat-icon fontIcon="logout"></mat-icon><span>Sair</span>
      </button>
    </mat-menu>    
  </div>
  } @else {
  <div class="user-menu">
    <button matButton [routerLink]="'/login'">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="login"></mat-icon> <span>Acessar</span>
    </button>
  </div>
  }
</header>
<main class="container">
  <router-outlet />
</main>
<footer class="main-footer">
  <div>
    © 2025 Passport. Todos os direitos reservados.
  </div>
  <div><a href="/openapi" target="_blank">Documentação</a></div>
  <div class="grow-space"></div>
  <div>
    <span>Desenvolvido por</span>&nbsp;<a href="https://vepo.dev" target="_blank">Victor Osório</a>
  </div>
</footer>